<p id="notice"><%= notice %></p>

<div class="container">

<h1>Listing Quizzes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Status type</th>
      <th>Number questions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.name %></td>
        <td><%= quiz.course_id %></td>
        <td><%= quiz.status_type %></td>
        <td><%= quiz.questions.count %></td>
        
        
        <% if current_user.student? %>
          <td><%= link_to 'Attempt the Quiz', new_course_quiz_attempt_url(@course,quiz) %></td>
        <% elsif(current_user.educator?) %>
          <td><%= link_to 'Show', course_quiz_url(@course,quiz) %></td>
          <td><%= link_to 'Edit', edit_course_quiz_path(@course,quiz) %></td>
          <td><%= link_to 'Destroy', [@course,quiz], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_course_quiz_path %>
</div>