<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @quiz.course_id %>
</p>

<p>
  <strong>Status type:</strong>
  <%= @quiz.status_type %>
</p>

<p>
  <strong>Number of questions:</strong>
  <%= @quiz.questions.count %>
</p>

<p>
  <h3>Questions</h3>
  
  <ol>
    <% @quiz.questions.each do |question|%>
    <li>
      <%=question.content %>
    <h4>Options</h4>
      <ul>
        <% question.answers.each do |ans|%>
        <li>
          <%= ans.content %> <% if (ans.is_correct) %>(Correct Answer)<% end %>
        </li>
        <% end %>
        
      </ul>
    
      
    </li>
    <% end %>
  </ol>
  
</p>



<%= link_to 'Edit', edit_course_quiz_path(@course,@quiz) %> |
<%= link_to 'Back', course_quizzes_path %>
</div>