<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @student.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @student.degree %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
