<p id="notice"><%= notice %></p>

<h1>Listing Educators</h1>

<table>
  <thead>
    <tr>
      <th>User userid</th>
      <th>Name</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educators.each do |educator| %>
      <tr>
        <td><%= educator.user_id %></td>
        <td><%= educator.name %></td>
        <td><%= educator.role_type %></td>
        <td><%= link_to 'Show', educator %></td>
        <td><%= link_to 'Edit', edit_educator_path(educator) %></td>
        <td><%= link_to 'Destroy', educator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Educator', new_educator_path %>
