<p id="notice"><%= notice %></p>

<p>
  <strong>User userid:</strong>
  <%= @educator.user_id %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @educator.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @educator.last_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @educator.role %>
</p>

<%= link_to 'Edit', edit_educator_path(@educator) %> |
<%= link_to 'Back', educators_path %>
